body {
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1541746866-2d43a52c98a3') center center no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    color: #333;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
   
}


.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #0073e6;
    outline: none;
    background-color: #fff;
}



.phone-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.phone-input {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.phone-input select,
.phone-input input {
    border: none;
    padding: 10px;
    font-size: 16px;
}

.phone-input select {
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.phone-input input {
    border-radius: 0 4px 4px 0;
    width: 100%;
}


.submit-btn {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.submit-btn:hover {
    background-color: #005bb5;
}